body {
    background-color:rgb(37, 37, 37);
    margin: inherit;
}

header {
    width: 100%;
    border-bottom: 1px solid white;
}

nav {
    display: block;
    color: azure;
    text-align: center;
}

button {
    background-color: inherit;
    border: none;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

ul > li {
    display: inline-block;
}

li {
    background-color: rgb(26, 119, 38);
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    
}

li:hover {
    background-color: rgb(26, 119, 38);
}

h1 {
    color: white;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.teste {
    color: red;
}

section {
    color: azure;
    text-align: center;
    vertical-align: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input {
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #CCCCCC;
    font-family: inherit;
    font-size: 1.35em;
    color: inherit;
}

::placeholder {

    color: #7d7d7d
}

h2 {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

article {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
}

article > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1080px;
    height: auto;
    border-radius: 10px;
    border-color: black;
    border: 10px solid rgb(131, 131, 131);
    border-bottom-right-radius: 25px 50px;
    border-top-right-radius: 25px 50px;
    border-top-left-radius: 25px 50px;
    border-bottom-left-radius: 25px 50px;
}