body {
    background-color:#252525;
}

.header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;

}

li {
    list-style-type: none;
    text-align: center;
}

ul {
    padding: 0;
}


#vida {
    color: #ff0000;
}

#win {
    color: green;
    font-size: 30px;
}

#wrong {
    color: #800000;
    font-size: 30px;
}

.image {
    display: flex;
    border-radius: 10px;
    max-width: 960px;
    max-height: 500px;
    border-color: black;
    border: 10px solid rgb(131, 131, 131);
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


h1 {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    color: #9b9b00;
}

input {
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #CCCCCC;
    font-family: inherit;
    font-size: 1.35em;
    color: inherit;
}

::placeholder {
    text-align: center;
    color: #787878
}

.chances > li {
    display: inline;
}

@media only screen and (orientation: portrait) {
    
    .image {
        display: flex;
        border-radius: 10px;
        max-width: 90%;
        border-color: black;
        border: 10px solid rgb(131, 131, 131);
        align-items: center;
        margin-left: auto;
        margin-right: auto;
  }
}

@media only screen and (max-height: 800px) {
    

    h1 {
        color: white;
        font-size: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    h2 {
        color: white;
        font-size: 15px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .image {
        display: flex;
        border-radius: 10px;
        max-width: 300px;
        border-color: black;
        border: 10px solid rgb(131, 131, 131);
        align-items: center;
        margin-left: auto;
        margin-right: auto;
  }
}